In [1]:
pip install --upgrade pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

# 데이터 입력, 수정, 삭제

In [3]:
import pymysql
from pandas import DataFrame

In [4]:
HOSTNAME = "localhost"
PORT = 3306
USERNAME = "root"
PASSWORD = "123qwe!@#"
DATABASE = "myschool"
CHARSET = "utf8"

In [5]:
dbcon = pymysql.connect(host = HOSTNAME, port = PORT, user = USERNAME, password = PASSWORD,
                       db = DATABASE, charset = CHARSET)

In [6]:
cursor = dbcon.cursor()

In [12]:
dname = 'Python'
loc = '1401호'

sql = "INSERT INTO department (dname, loc) VALUES (%s, %s)"
cursor.execute(sql, (dname, loc))

new_deptno = dbcon.insert_id()
print("생성된 학과번호 : %d" % new_deptno)

dbcon.commit

생성된 학과번호 : 205

In [13]:
dname = '빅데이터'
loc = '공학관'

sql = "UPDATE department SET dname = %s, loc = %s WHERE deptno = %s"
edit_count = cursor.execute(sql, (dname, loc, new_deptno))

print("수정된 데이터 수: %d" % edit_count)
dbcon.commit

수정된 데이터 수: 1

In [14]:
sql = "DELETE FROM department WHERE deptno = %s"
delete_count = cursor.execute(sql, (new_deptno))

print("삭제된 데이터 수: %d" % delete_count)
dbcon.commit()

삭제된 데이터 수: 1

# 데이터 조회하기

In [15]:
sql = """SELECT deptno AS '학과번호', dname AS '학과이름', loc AS '학과위치'
        FROM department WHERE deptno=%s"""

cursor.execute(sql, (202))
result = cursor.fetchone()
result

(202, '기계공학과', '4호관')

In [16]:
sql = "SELECT deptno, dname, loc FROM department"
cursor.execute(sql)

result = cursor.fetchall()
result

((101, '컴퓨터공학과', '1호관'),
 (102, '멀티미디어학과', '2호관'),
 (201, '전자공학과', '3호관'),
 (202, '기계공학과', '4호관'),
 (203, 'Python', '1401호'))

In [17]:
cursor = dbcon.cursor(pymysql.cursors.DictCursor)

In [19]:
sql = """SELECT deptno AS `학과번호`, dname AS '학과이름', loc AS '학과위치'
        FROM department WHERE deptno = %s"""

cursor.execute(sql, (202))
result = cursor.fetchall()
result

[{'학과번호': 202, '학과이름': '기계공학과', '학과위치': '4호관'}]

In [20]:
sql = "SELECT deptno, dname, loc FROM department"
cursor.execute(sql)

result = cursor.fetchall()
result

[{'deptno': 101, 'dname': '컴퓨터공학과', 'loc': '1호관'},
 {'deptno': 102, 'dname': '멀티미디어학과', 'loc': '2호관'},
 {'deptno': 201, 'dname': '전자공학과', 'loc': '3호관'},
 {'deptno': 202, 'dname': '기계공학과', 'loc': '4호관'},
 {'deptno': 203, 'dname': 'Python', 'loc': '1401호'}]

In [21]:
df = DataFrame(result)
df2 = df.set_index('deptno')
df2

          dname    loc
deptno
101      컴퓨터공학과    1호관
102     멀티미디어학과    2호관
201       전자공학과    3호관
202       기계공학과    4호관
203      Python  1401호

In [22]:
cursor.close()