# 빅데이터 저장시스템 개발 문제해결 시나리오 결과물 제출 - 김정욱

## 1번.

In [1]:
import requests
import json
from pandas import DataFrame
import datetime

In [2]:
covid_url = "http://itpaper.co.kr/demo/covid19/now.php"

In [3]:
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36\
(KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36"

header_info = {'user-agent': user_agent, 'referer': None}

In [4]:
r = requests.get(covid_url, headers=header_info)

if r.status_code != 200:
    err_msg = "%d %s 에러가 발생했습니다." % (r.status_code, r.reason)
    raise Exception(err_msg)

r.encoding = "utf-8"
#r.text

In [5]:
result = json.loads(r.text)
#result

In [6]:
cvd_s = DataFrame(result['state'])

now_str = datetime.datetime.now().strftime("%y%m%d")
int_str = int(now_str)

cvd_s.insert(0, 'day', int_str)
cvd_s

,day,region,confirmed,death,released,vaccinatedOnce,vaccinatedFully,active,confirmed_prev,released_prev,death_prev,active_prev,vaccinatedOnce_prev,vaccinatedFully_prev
0,211204,서울,163146,1178,136150,119118,1283,25818,160873,135086,1148,24639,119118,1283
1,211204,부산,16897,183,15173,56813,0,1541,16696,15106,183,1407,56813,0
2,211204,대구,19303,320,18081,34085,0,902,19213,18017,318,878,34085,0
3,211204,인천,25890,161,22212,40018,115,3517,25606,22103,155,3348,40018,115
4,211204,광주,6437,31,5987,29080,0,419,6398,5934,30,434,29080,0
5,211204,대전,9032,71,8136,22439,0,825,8906,8083,71,752,22439,0
6,211204,울산,5702,57,5548,14240,0,97,5695,5532,57,106,14240,0
7,211204,세종,1603,2,1466,2127,0,135,1595,1458,2,135,2127,0
8,211204,경기,139686,1255,119545,149225,95,18886,138011,119243,1231,17537,149225,95
9,211204,강원,9100,75,8073,21669,5,952,8986,8019,75,892,21669,5
10,211204,충북,9095,93,8526,21027,0,476,9039,8495,92,452,21027,0
11,211204,충남,13463,84,11921,28586,0,1458,13330,11834,83,1413,28586,0
12,211204,전북,6584,78,5963,31304,0,543,6519,5917,76,526,31304,0
13,211204,전남,4585,27,4061,35514,0,497,4533,4049,27,457,35514,0
14,211204,경북,11643,111,10519,37623,0,1013,11553,10476,110,967,37623,0
15,211204,경남,15449,58,14385,52280,0,1006,15335,14298,56,981,52280,0
16,211204,제주,3803,9,3497,8464,0,297,3782,3474,9,299,8464,0

In [7]:
cvd_s.dtypes

day                      int64
region                  object
confirmed                int64
death                    int64
released                 int64
vaccinatedOnce           int64
vaccinatedFully          int64
active                   int64
confirmed_prev           int64
released_prev            int64
death_prev               int64
active_prev              int64
vaccinatedOnce_prev      int64
vaccinatedFully_prev     int64
dtype: object

In [ ]:
"""
테이블 명세서
+----------------------+-------------+------+-----+---------+---------------------------+
| 컬럼이름             | 데이터 타입 | Null | Key | Default | 컬럼내용                  |
+----------------------+-------------+------+-----+---------+---------------------------+
| day                  | int         | NO   |     | NULL    | 현재일자                  |
| region               | VARCHAR     | NO   |     | NULL    | 지역명                    |
| confirmed            | int         | NO   |     | NULL    | 당일 누적 확진자          |
| death                | int         | NO   |     | NULL    | 당일 누적 사망자          |
| released             | int         | NO   |     | NULL    | 당일 누적 격리해제        |
| vaccinatedOnce       | int         | NO   |     | NULL    | 1차 백신 누적 접종자      |
| vaccinatedFully      | int         | NO   |     | NULL    | 2차 백신 누적 접종자      |
| active               | int         | NO   |     | NULL    | 당일 치료중               |
| confirmed_prev       | int         | NO   |     | NULL    | 전날 누적 확진자          |
| released_prev        | int         | NO   |     | NULL    | 전날 누적 격리 해제       |
| death_prev           | int         | NO   |     | NULL    | 전날 누적 사망자          |
| active_prev          | int         | NO   |     | NULL    | 전날 치료중               |
| vaccinatedOnce_prev  | int         | NO   |     | NULL    | 전날 1차 백신 누적 접종자 |
| vaccinatedFully_prev | int         | NO   |     | NULL    | 전날 2차 백신 누적 접종자 |
+----------------------+-------------+------+-----+---------+---------------------------+
"""

## 2번.

In [8]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import urllib

In [9]:
HOSTNAME = "localhost"
PORT = 3306
USERNAME = "root"
PASSWORD = "123qwe!@#"
CHARSET = "utf8"

In [10]:
dbcon = pymysql.connect(host = HOSTNAME, port = PORT, user = USERNAME, password = PASSWORD,
                        charset = CHARSET)

In [11]:
cursor = dbcon.cursor()

In [12]:
cursor.execute("DROP DATABASE covid19")

2

In [13]:
cursor.execute("CREATE DATABASE covid19")

1

In [14]:
HOSTNAME = "localhost"
PORT = 3306
USERNAME = "root"
PASSWORD = "123qwe!@#"
DATABASE = "covid19"
CHARSET = "utf8"

In [15]:
dbcon = pymysql.connect(host = HOSTNAME, port = PORT, user = USERNAME, password = PASSWORD,
                        db = DATABASE, charset = CHARSET)

In [16]:
cursor = dbcon.cursor()

In [17]:
cursor.execute("CREATE TABLE state (\
               day int(8) not null, region VARCHAR(10) not null,\
               confirmed INT(64) not null, death INT(64) not null,\
               released INT(64) not null, vaccinatedOnce INT(64) not null,\
               vaccinatedFully INT(64) not null, active INT(64) not null,\
               confirmed_prev INT(64) not null, released_prev INT(64) not null,\
               death_prev INT(64) not null, active_prev INT(64) not null,\
               vaccinatedOnce_prev INT(64) not null,\
               vaccinatedFully_prev INT(64) not null)"
              )

0

In [18]:
cursor.execute("DESC state")
for i in cursor:
    print(i)

('day', 'int', 'NO', '', None, '')
('region', 'varchar(10)', 'NO', '', None, '')
('confirmed', 'int', 'NO', '', None, '')
('death', 'int', 'NO', '', None, '')
('released', 'int', 'NO', '', None, '')
('vaccinatedOnce', 'int', 'NO', '', None, '')
('vaccinatedFully', 'int', 'NO', '', None, '')
('active', 'int', 'NO', '', None, '')
('confirmed_prev', 'int', 'NO', '', None, '')
('released_prev', 'int', 'NO', '', None, '')
('death_prev', 'int', 'NO', '', None, '')
('active_prev', 'int', 'NO', '', None, '')
('vaccinatedOnce_prev', 'int', 'NO', '', None, '')
('vaccinatedFully_prev', 'int', 'NO', '', None, '')

## 3번.

In [19]:
HOSTNAME = "localhost"
PORT = 3306
USERNAME = "root"
PASSWORD = "123qwe!@#"
DATABASE = "covid19"
CHARSET1 = "utf8"
CHARSET2 = "utf-8"

In [20]:
con_str_fmt = "mysql+mysqldb://{0}:{1}@{2}:{3}/{4}?charset={5}"

con_str = con_str_fmt.format(USERNAME, urllib.parse.quote(PASSWORD),
                             HOSTNAME, PORT, DATABASE, CHARSET1)
con_str

'mysql+mysqldb://root:123qwe%21%40%23@localhost:3306/covid19?charset=utf8'

In [21]:
pymysql.install_as_MySQLdb()
import MySQLdb

In [22]:
engine = create_engine(con_str, encoding = CHARSET2)
conn = engine.connect()

In [23]:
nowdy_str = datetime.datetime.now().strftime("%y%m%d")
nowdy_int = int(now_str)

nowtm_str = datetime.datetime.now().strftime("%H%M%S")
nowtm_int = int(nowtm_str)

#10시 이후면 _'지금 날짜' 붙인 테이블에 저장, 아니면 '지금 날짜-1'에 저장
if nowtm_int >= 100000:
    cvd_s.to_sql(name = 'state'+'_'+nowdy_str, con = conn, if_exists = 'replace', index = False)
else:
    cvd_s.to_sql(name = 'state'+'_'+str(nowdy_int-1), con = conn, if_exists = 'replace', index = False)

## 4번.

In [24]:
import schedule
import time

In [25]:
def covid_update():
    if nowtm_int >= 100000:
        cvd_s.to_sql(name = 'state'+'_'+nowdy_str, con = conn, if_exists = 'replace', index = False)
    else:
        cvd_s.to_sql(name = 'state'+'_'+str(nowdy_int-1), con = conn, if_exists = 'replace', index = False)

In [26]:
schedule.every(1).days.at("10:00").do(covid_update)

Every 1 day at 10:00:00 do covid_update() (last run: [never], next run: 2021-12-05 10:00:00)

In [27]:
schedule.every(10).seconds.do(covid_update)

Every 10 seconds do covid_update() (last run: [never], next run: 2021-12-04 14:41:35)