# 변수의 이해

In [1]:
e = 2e3 #오른쪽 e = 10, 2x10X세제곱
print(e)

2000.0

In [2]:
i=1+2j #복소수 부분 j로 씀
print(i)

(1+2j)

In [3]:
print(i.real) #위에 i에서 실수부분

1.0

In [9]:
a = True # 첫 글자 대문자 주의
c = not a # 참의 부정이므로
print(c)  # 거짓

False

# 연산자

### 대입연산자 = 좌변에 우변을 대입

In [6]:
a = 3
b = a
print(a)
print(b)

3

### 사칙연산자

##### 더하기 = + , 뺴기 = -, 곱하기 = *, 거듭제곱 = **
##### 나누기 = / (소수점 계속 연산하다가 오차 발생)
#####        = // (정수 몫만 출력)
#####        = % (나머지 중 정수부분)

In [6]:
a = 5
b = 7
print(a / b)
print(a // b)
print(a % b)

0.7142857142857143
0
5

### 단항연산자

In [1]:
x = 100
x = x+5
x += 5

In [9]:
print(3**7)
a = 1
a += 50
a *= 2
a %= 4
print(a)

2187
2

### 비교연산자

In [2]:
x = 100
y = 20
print(x>y) #참인지 거짓인지만 판별, 결과는 논리값(bool형)으로 생성된다. (True, False 대문자)

True

In [3]:
print(y>x)

False

In [11]:
print(x==y)
print(x!=y) #다르다
print(x<=y)
result = 100 != 50
print(result)

False
True
False
True

### 논리연산자

##### and = 다 True면 True, 아니면 False
##### or  = 하나라도 True면 True

In [12]:
a = 100 > 50
b = 20 > 10
print(a and b) #True and True

True

### is 연산자

In [13]:
a = 100 > 50
b = 20 > 10
print(a is b) # 두 변수가 동일한지 판별

True

In [14]:
# is 와 ==의 차이
x = 100
y = 100.0
print(x==y) # == 는 값만 비교하므로 True
print(x is y) # is는 데이터 타입까지 비교하므로 정수, 실수를 다르다고 판단

True
False

### 문자열(string)

In [27]:
msg1 = 'life is good' #쌍,홑따옴표로 감싸야 한다
msg2 = "life is beautiful" #단, 혼용해선 안된다 ("life is beautiful')
print(msg1+", "+msg2)
msg3 = 100
print(msg1+msg3) #1은 문자열, 100은 숫자라 불가능

life is good, life is beautiful

TypeError: can only concatenate str (not "int") to str

In [26]:
msg4 = '100'
print(msg1+msg4) #'100' 묶어줘서 가능
print(msg4*3) #곱셈은 반복
print(msg4*msg4) #당연히 문자열끼리 곱셈은 불가능

life is good100
100100100

TypeError: can't multiply sequence by non-int of type 'str'

In [29]:
message = "hello python world" #python에 쌍따옴표를 넣고 싶다면 "hello "python" world" 이렇게는 불가
message1 = "hello \"python\" world" #역슬래시 따옴표로 가능
# 쌍따옴표 사이에 홑, 홑따옴표 사이에 쌍따옴표는 가능
print(message)
print(message1)

hello python world
hello "python" world

##### 이스케이프 문자

In [2]:
case1 = "life is \"too\" short" #홑따옴표도 가능
print(case1)

life is "too" short

In [3]:
case3 = "Life is 'too' short"
print(case3)

Life is 'too' short

In [4]:
case4 = 'Life is "too" short'
print(case4)

Life is "too" short

In [5]:
#줄바꿈 n
print("Life is 'too' short\nYou need Python")

Life is 'too' short
You need Python

In [6]:
#탭효과 t
print("Life is 'too' short\tYou need Python")

Life is 'too' short	You need Python

In [7]:
#역슬래시를 쓰고 싶을때 한개 더
print("Life is 'too' short\\You need Python")

Life is 'too' short\You need Python

### 문자열의 인덱스번호
    0부터 시작되며, 공백도 글자로 처리
    음수형태의 인덱스는 -1부터 시작

In [17]:
str = "Life is too short\nyou need Python"
print(str[3])
print(str[17]) #띄어쓰기는 공백으로 나옴
print(str[-5]) #뒤에서부터 5번쨰, -1부터 시작
print(str[5:8]) #5~8번째인 t의 '전'까지 출력해줌
print(str[8])
print(str[-6:-3]) #-6인 P부터 -3인 h의 '전'까지

e


y
is
t
Pyt

In [21]:
str = "Life is too short\nyou need Python"
print(str[19:]) #19부터 끝까지
print(str[:8]) #처음부터 8번째 '전'까지
print(str[7:-5]) #7번째부터 -5인 y의 '전'까지

ou need Python
Life is
 too short
you need P