# 문자열 포메팅

## 정수값과 문자열을 표현하는 형식문자 %d, %s 사용하기

In [3]:
# "%"연산자 뒤의 값이 "%d를 치환한다."
str1 = "나는 %d원을 갖고 있다." % 10000
print(str1)

나는 10000원을 갖고 있다.

In [5]:
# 포멧문자를 포함한 문장만 별도의 변수로 지정
str2 = "%s 날짜는 %d년 %d월 %d일 입니다."

# 여러 포멧문자를 치환할 경우 값들을 괄호로 묶는다.
msg1 = str2 % ("정모", 2018, 1, 1)
print(msg1)

msg2 = str2 % ("약속", 2018, 3, 5)
print(msg2)

정모 날짜는 2018년 1월 1일 입니다.
약속 날짜는 2018년 3월 5일 입니다.

## 정수의 자리수 표현과 정렬

In [6]:
# 자리수 지정하기 -> 오른쪽 정렬, 빈자리는 공백으로 지정
print("%10d원을 입금했습니다." % 120000)

    120000원을 입금했습니다.

In [7]:
# 자리수 지정하기 -> 오른쪽 정렬, 빈자리는 0으로 지정
print("%010d원을 입금했습니다." % 120000)

0000120000원을 입금했습니다.

In [8]:
# 자리수 지정하기 -> 왼쪽 정렬, 빈자리는 공백으로 지정 (0 불가)
print("%-10d원을 입금했습니다." % 120000)

120000    원을 입금했습니다.

## 문자열의 자리수 표현과 정렬

In [9]:
# 문자열의 자리수 지정하기 -> 빈자리는 공백지정만 가능함.
print("%10s에 살고 있습니다." % "대한민국")
print("%-10s에 살고 있습니다." % "대한민국")

      대한민국에 살고 있습니다.
대한민국      에 살고 있습니다.

## 소수점 표현하기

In [10]:
# 실수값 표현하기
money = 123.456789
print("%f원 입니다." % money)

123.456789원 입니다.

In [11]:
# 소수점 3자리까지 표현하기 -> 소수점 4째자리에서 반올림.
print("%0.3f원 입니다." % money)

123.457원 입니다.

## 실수의 정렬

In [12]:
# 소수점 3자리까지 표현하되 전체 글자수는 10글자 (빈자리 공백)
# 소수점이 자리수에 포함됨
# -> 오른쪽 정렬
print("%10.3f원 입니다." % money)
# -> 왼쪽 정렬
print("%-10.3f원 입니다." % money)

   123.457원 입니다.
123.457   원 입니다.

In [13]:
# 소수점 3자리까지 표현하되 전체 글자수는 10글자 (빈자리 0)
# -> 빈 자리를 0으로 채우는 경우는 오른쪽 정렬만 가능함.
print("%010.3f원 입니다." % money)

000123.457원 입니다.

## 인덱스 번호를 사용한 포메팅

In [14]:
# 0번째 위치에 format()함수에 전달된 0번째 값을 대입
msg1 = "I eat {0} apples"
print( msg1.format(3) )

I eat 3 apples

In [15]:
# 여러 개의 값을 혼용하기
msg2 = "{0}은 {1}년 {2}월 {3}일 입니다."
print( msg2.format("개강일", 2018, 8, 12) )

개강일은 2018년 8월 12일 입니다.

## 인덱스 이름을 사용한 포메팅

In [19]:
# 이름으로 넣기
msg3 = "{name}은 {yy}년 {mm}월 {dd}일 입니다."
print( msg3.format(name="종강일", yy=2021, mm=10, dd=20) )

종강일은 2021년 10월 20일 입니다.

In [20]:
# 혼합사용 -> 숫자형식의 치환자가 먼저 위치해야 한다.
msg4 = "{0}은 {yy}년 {mm}월 {dd}일 입니다."
print( msg4.format("생일", yy=2021, mm=1, dd=31) )

생일은 2021년 1월 31일 입니다.

## 출력값 정렬하기

In [21]:
# 5글자 오른쪽 정렬 -> "%5s"와 동일
msg5 = "{0:>5}!!Python, {1:>9}~Python"
print( msg5.format("Hi", "Welcome") )

   Hi!!Python,   Welcome~Python

In [22]:
# 5글자 왼쪽 정렬 -> "%-5s"와 동일
msg6 = "{0:<5}!!Python, {1:<9}~Python"
print( msg6.format("Hi", "Welcome") )

Hi   !!Python, Welcome  ~Python

In [23]:
# 가운데 정렬
msg7 = "{0:^10}!!Python, {1:^9}~Python"
print( msg7.format("Hi", "Hello") )

    Hi    !!Python,   Hello  ~Python

## 공백을 특정 글자로 채우기

In [29]:
msg8 = "{0:~<5}!!Python!! {1:*^9}!!Python"
print( msg8.format("Hi", "Hello") )

Hi~~~!!Python!! **Hello**!!Python

## 중괄호 출력하기

In [28]:
# 문자열에 "{"나 "}" 포함시키기 --> 두겹으로 사용
msg12 = "{{python}}은 {0}다"
print( msg12.format("쉽") )
print( msg12.format("좋") )

{python}은 쉽다
{python}은 좋다

## 소수점 표현하기

In [25]:
# 소수점 4째자리까지 표현하기 -> 5째자리에서 반올림
msg9 = "{0:0.4f}"
print( msg9.format(123.456789) )

123.4568

In [26]:
# 전체 10글자,소수점 4째자리까지 표현하기 -> 5째자리에서 반올림
msg10 = "{0:10.4f}"
print( msg10.format(123.456789) )

  123.4568

In [27]:
# 전체 10글자,공백은 0, 소수점 4째자리까지 표현하기
# -> 5째자리에서 반올림
msg11 = "{0:010.4f}"
print( msg11.format(123.456789) )

00123.4568