### 문자열 포매팅
#### %d 10진 정수
#### %f 10진 실수
#### %s 문자열
#### %c character(문자 1개)
#### %o 8진 정수
#### %x 16진 정수
#### %% % 자체

In [2]:
str = "나는 %d세 입니다" # %d 10진 정수
result = str % 20
print(result)

나는 20세 입니다

In [26]:
str1 = "원주율은 %f 이다" # %f 10진 실수(소수점 포함)
result1 = str1 % 3.14
print(result1)
print("원주율은 %f%% 이다" % 3.14) #묶어서도 가능 %를 쓰려면 2개 붙여서

원주율은 3.140000 이다
원주율은 3.140000% 이다

In [11]:
print("나는 %d개의 %s를 갖고 있다" % (10, "사과"))

나는 10개의 사과를 갖고 있다

In [40]:
# "%"연산자 뒤의 값이 "%d"를 치환한다.
str2 = "나는 병원에 %d일 있었다" % 7
print(str2)

나는 병원에 7일 있었다

In [44]:
str3 = "%s 날짜는 %d년 %d월 %d일"
msg1 = str3 % ("동아리", 2021, 2, 5) #문자는 항상 ""로 묶는다
print(msg1)

동아리 날짜는 2021년 2월 5일

### 정수의 자릿수 지정 및 정렬
#### %5d 숫자를 5자리로 맞춰 오른쪽 정렬, 부족하면 공백
#### %-5d 숫자  5자리         왼쪽  정렬
#### %05d 5자리 오른쪽 정렬, 부족하면 0으로 채움(왼쪽 지원 안함, 0말곤 사용 불가)

In [29]:
print("판매 금액은 %7d 입니다" % 3500)
print("판매 금액은 %-7d 입니다" % 3500)
print("판매 금액은 %07d 입니다" % 3500)

판매 금액은    3500 입니다
판매 금액은 3500    입니다
판매 금액은 0003500 입니다

In [34]:
print("Hello python %5s" % "입니다" )
print("Hello python %-5s" % "입니다" ) #%05s 0은 지원 안함

Hello python   입니다
Hello python 입니다

### 실수의 자릿수 지정 및 정렬
#### 출력값이 지정된 소수점 자릿수를 초과하면 반올림 처리된다.
##### %0.3f 제한없이 셋째 자리까지 출력
##### %10.3f 전체 10자리 출력하고 그중 소수점 이하는 셋째 자리까지 설정, 오른쪽 정렬, 나머지 공백
##### %-10.3f 전체 10자리 출력         소수점 이하     세자리          ,   왼쪽 정렬, 나머지 공백
##### %010.3f 10자리 출력, 소수점 셋째 자리까지, 공백->0으로

In [35]:
print("%0.3f" % 123.4567) #반올림

123.457

In [36]:
print("%10.3f" % 123.4567) #왼 공백

   123.457

In [37]:
print("%-10.3f" % 123.4567) #오른 공백

123.457

In [38]:
print("%010.3f" % 123.4567) 0으로 공백 채움

000123.457

### format 함수를 사용한 포매팅

In [45]:
str = "이 연필은 {0}{1} 입니다."
print(str.format(1200, "원"))

이 연필은 1200원 입니다.

In [46]:
str = "이 연필은 {price}{unit}입니다"
print(str.format(unit="원", price="1200"))

이 연필은 1200원입니다

In [50]:
str = "이 {0}은 {1} {name}입니다."
print(str.format("책", "좋은", name = "교과서")) #숫자형식 치환자가 먼저 와야한다

이 책은 좋은 교과서입니다.

In [55]:
str = "이 {0:>10}은 {1:>10}원 입니다." #10자리, 인덱스번호:>자릿수 오른쪽 정렬
print(str.format("피망", 1000))
str = "이 {0:*>10}은 {1:@>10}원 입니다." # :다음 문자로 채워준다
print(str.format("피망", 1000))

이         피망은       1000원 입니다.
이 ********피망은 @@@@@@1000원 입니다.

In [56]:
str = "이 {0:<10}은 {1:<10}원 입니다." #10자리, 왼쪽 정렬
print(str.format("피망", 1000))
str = "이 {0:*<10}은 {1:@<10}원 입니다." # :다음 문자로 채워준다
print(str.format("피망", 1000))

이 피망        은 1000      원 입니다.
이 피망********은 1000@@@@@@원 입니다.

In [58]:
str = "이 {0:^10}은 {1:^10}원 입니다." #가운데 정렬
print(str.format("피망", 1000))
str = "이 {0:*^10}은 {1:@^10}원 입니다."
print(str.format("피망", 1000))

이     피망    은    1000   원 입니다.
이 ****피망****은 @@@1000@@@원 입니다.

In [60]:
str =  "{0:0.4f}+{1:0.3f}" #소수점 4자리, 3자리까지 표현하고 반올림
print(str.format(123.456789, 12.3456789))

123.4568+12.346

In [70]:
str = "{0:10.4f}+{1:-10.3f}" #전체 10글자, 소수점4, 3자리 오른,왼 정렬
print(str.format(123.456789, 12.3456789))

  123.4568+    12.346

In [73]:
str = "{0:010.4f}+{1:<-010.3f}" #위와 동일, 0으로 채움, < 왼쪽 정렬
# > 오른쪽정렬은 사용하지 않는 경우와 결과가 동일
print(str.format(123.456789, 12.3456789))
str = "{0:>010.4f}+{1:^-010.3f}"
print(str.format(123.456789, 12.3456789)) #> 동일, 가운데 정렬

00123.4568+12.3460000
00123.4568+0012.34600

In [80]:
str = "{0}은 {1}다."
print(str.format("python", "어렵"))
str = "{{python}}은 {0}다." #{}사용하려면 2개겹
print(str.format("어렵"))

python은 어렵다.
{python}은 어렵다.

### 함수

In [1]:
#실습용 문자열
str = "Life is too short, You Need Python"
print(str)

Life is too short, You Need Python

In [5]:
a = len(str) #문자열의 글자수 함수 len()
print(a)
print(len(str)) #직접 출력도 가능

34
34

In [8]:
print(str.count("i")) #특정 문자열 갯수 count
print(str.count("Y")) #대소문자 구별함
print(str.count("Life"))

2
1
1

In [9]:
print(str.find("t")) #처음 등장하는 위치 조회 find()
print(str.find("z")) #없으면 -1 출력함
print(str.find("short")) #첫글자 위치 출력

8
-1
12

In [12]:
print(str.rfind("t")) #마지막 등장하는 위치 조회 rfind()
print(str.rfind("short"))
print(str.rfind("z")) #없으면 -1

30
12
-1

In [15]:
print(str.startswith("L")) #특정 단어나 글자로 시작하는지 여부 -> True, False
print(str.startswith("l"))
print(str.startswith("Life"))

True
False
True

In [18]:
print(str.endswith("n")) #특정 단어,글자로 끝나는지 True, False
print(str.endswith("Python"))
print(str.endswith("python")) #대소문자 구별

True
True
False

In [20]:
upchar = str.upper()
print(upchar)
print(str.upper()) #모든 글자를 대문자로

LIFE IS TOO SHORT, YOU NEED PYTHON
LIFE IS TOO SHORT, YOU NEED PYTHON

In [21]:
lowchar = str.lower()
print(lowchar)
print(str.lower()) #모든 글자를 소문자로

life is too short, you need python
life is too short, you need python

In [22]:
print(str.swapcase()) #대,소문자 스왑

lIFE IS TOO SHORT, yOU nEED pYTHON

In [23]:
print(str.capitalize()) #문장 첫 글자를 대문자로 변환 나머지 대문자는 소문자로

Life is too short, you need python

In [24]:
print(str.title()) #각 단어 첫 글자를 대문자로 변환

Life Is Too Short, You Need Python

In [29]:
print(str.replace("Life", "life")) # replace(A, B) A를 B로 변경

life is too short, You Need Python

In [30]:
#실습용 문자열
k = "    python    " #4칸씩 공백
print(k.lstrip()) #왼쪽 공백 삭제
print(k.rstrip()) #오른쪽 공백 삭제
print(k.strip()) #좌,우 공백 삭제
#문자열 앞,뒤 공백만 제거가능하며

python
    python
python

In [31]:
print(str.replace("e i", "ei")) #문자열 중간의 공백을 삭제하려면 replace()사용

Lifeis too short, You Need Python