# 리스트

## 리스트 자료형 생성하기

In [1]:
# 5명의 학생에 대한 성적 나열.
grade = [ 98, 82, 73, 64, 100 ]
print( grade )

[98, 82, 73, 64, 100]

In [2]:
# 각 학생의 이름에 대한 나열
names = [ "철수", "영희", "나영", "민식", "호영" ]
print( names )

['철수', '영희', '나영', '민식', '호영']

In [3]:
# 서로 다른 자료형들을 함께 사용 가능
stud1 = [ "철수", 98 ]
stud2 = [ "영희", 82 ]
stud3 = [ "나영", 73 ]
print(stud1)
print(stud2)
print(stud3)

['철수', 98]
['영희', 82]
['나영', 73]

## 인덱스 번호를 통해 리스트의 각 원소 사용하기

리스트의 각 원소는 0부터 시작되는 일련번호를 부여받는다. --> 인덱스 번호

In [4]:
# 인덱스 번호를 통해 각 원소에 접근할 수 있다.
name = stud1[0]
point = stud1[1]
print(name)
print(point)

철수
98

In [5]:
# 값의 변경
stud1[0] = "철호"
stud1[1] = 100
print(stud1)

['철호', 100]

In [6]:
# 리스트의 원소를 직접 출력하는 활용 예시
msg = "{0}(이)의 점수는 {1}점 입니다."
print( msg.format(stud1[0], stud1[1]) )
print( msg.format(stud2[0], stud2[1]) )
print( msg.format(stud3[0], stud3[1]) )

철호(이)의 점수는 100점 입니다.
영희(이)의 점수는 82점 입니다.
나영(이)의 점수는 73점 입니다.

## 2차원 리스트의 생성

In [7]:
# 각 학생별 이름,점수 정의
stud1 = [ "철수", 98 ]
stud2 = [ "영희", 82 ]
stud3 = [ "나영", 73 ]

# 2차원 리스트 -> 새로운 리스트 stud_group의 각 원소가 리스트가 되는 형태
stud_group = [ stud1, stud2, stud3 ]
print(stud_group)

[['철수', 98], ['영희', 82], ['나영', 73]]

## 2차원 리스트의 일괄 생성

바깥의 리스트에 속한 원소들는 행을 구성하고, 안쪽의 리스트에 속한 원소들은 열을 구성한다.

In [8]:
grade = [
            [ "민식", 64 ] ,   # 0번째 행 -> 0번째 열=민식, 1번째 열=64
            [ "호영", 100 ]    # 1번째 행 -> 0번째 열=호영, 1번째 열=100
        ]
print(grade)

[['민식', 64], ['호영', 100]]

## 각 원소에 접근하여 출력하기

In [9]:
# 1차원 원소에 접근하기
print(stud_group[0])     # stud_group의 0번째 원소
print(stud_group[1])     # stud_group의 1번째 원소

['철수', 98]
['영희', 82]

In [10]:
# 2차원 원소에 접근하기
print(stud_group[0][0])  # 0번째 원소의 0번째 항목
print(stud_group[0][1])  # 0번째 원소의 1번째 항목
print(stud_group[1][0])  # 1번째 원소의 0번째 항목
print(stud_group[1][1])  # 1번째 원소의 1번째 항목

철수
98
영희
82

## 리스트의 인덱싱

리스트에서도 문자열과 동일하게 인덱싱을 사용하여 값에 접근할 수 있다.

인덱싱의 결과는 단일 원소 값 하나를 추출한다.

In [11]:
mylist = [ 10, 20, 30, 40, 50 ]

In [12]:
# 1번째 원소에 접근 -> 0부터 카운트
print(mylist[1])

20

In [13]:
# 뒤에서 1번째 원소에 접근 -> 1부터 카운트
print(mylist[-1])

50

## 리스트의 슬라이싱

문자열과 동일한 규칙이 적용된다.

슬라이싱의 결과는 새로운 리스트가 된다.

In [14]:
mylist = [ 60, 70, 80, 90, 100 ]

In [15]:
# list에서 1번째 부터 3번째 전까지 -> 3번째 원소 포함안됨
print(mylist[1:3])

[70, 80]

In [16]:
# 처음부터 3번째 전까지 -> 3번째 원소 포함안됨
print(mylist[:3])

[60, 70, 80]

In [17]:
# list[3]부터 끝까지 -> 3번째 원소 포함됨
print(mylist[3:])

[90, 100]

In [18]:
# list의 모든 원소
print(mylist[:])

[60, 70, 80, 90, 100]

In [19]:
# list에서 1번째부터 뒤에서 부터 2번째 다음까지
# -> 마이너스 값을 사용하여 지정할 경우 "다음까지"의 의미
print(mylist[1:-2])

[70, 80]

## 리스트의 연산

리스트간의 덧셈과 리스트와 정수간의 곱셈이 지원된다.

In [20]:
# 실습을 위한 리스트 정의
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [21]:
# 리스트끼리의 덧셈은 단순 병합
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [22]:
# 리스트와 정수의 곱셈은 동일 내용을 반복한다.
list4 = list1 * 3
print(list4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 리스트 연산의 에러 케이스

In [23]:
print(list1+10)      # 리스트+정수

TypeError: can only concatenate list (not "int") to list

In [24]:
print(list1 + "hi")   # 리스트+문자열

TypeError: can only concatenate list (not "str") to list

In [25]:
print(list1*list2)    # 리스트*리스트

TypeError: can't multiply sequence by non-int of type 'list'

## 리스트의 원소 수정하기

In [26]:
# 대입연산자를 이용한 단일 값 수정
mylist = [1, 2, 3]
mylist[2] = 4
print(mylist)

[1, 2, 4]

In [27]:
# 대입연산자를 이용하여 주어진 범위를 수정
mylist = [1, 2, 3]
mylist[1:3] = [20, 30]
print(mylist)

[1, 20, 30]

## 리스트의 확장, 축소

In [28]:
# 주어진 범위보다 작은 개수를 갖는 리스트 지정 --> 리스트가 잘림
mylist = [1, 2, 3]
mylist[1:3] = [1000]
print(mylist)

[1, 1000]

In [29]:
# 주어진 범위보다 많은 개수를 갖는 리스트 지정 --> 리스트 확장
mylist = [1, 2, 3]
mylist[1:2] = [7,8,9,0]
print(mylist)

[1, 7, 8, 9, 0, 3]

In [30]:
# 인덱싱으로 접근하는 경우 -> 단순 삽입
# -> 1번째 원소에 다른 리스트 "삽입"
mylist = [1,2,3,4,5]
print(mylist)

mylist[1] = [100, 200]
print(mylist)

[1, 2, 3, 4, 5]
[1, [100, 200], 3, 4, 5]

In [31]:
# 슬라이싱으로 접근하는 경우 -> 주어진 범위를 "확장"
# -> 1번째 위치에는 100이 저장, 그 다음 원소에 200이 저장
#    원래의 2번째 위치부터는 뒤로 밀려난다.
mylist = [1,2,3,4,5]
print(mylist)

mylist[1:2] = [100, 200]
print(mylist)

[1, 2, 3, 4, 5]
[1, 100, 200, 3, 4, 5]

## 리스트의 원소 삭제

In [32]:
# 특정 위치의 원소 삭제
# -> 삭제 후 빈자리가 매워짐
mylist = [1,2,3,4,5]
del(mylist[1])
print(mylist)

[1, 3, 4, 5]

In [33]:
# 특정 범위(1번째부터 3번째 전까지)의 원소 삭제
# -> 삭제 후 빈자리가 매워짐
mylist = [1,2,3,4,5]
del(mylist[1:3])
print(mylist)

[1, 4, 5]

In [34]:
# 특정 범위를 삭제하는 또 다른 방법
mylist = [1,2,3,4,5]
mylist[1:3] = []
print(mylist)

[1, 4, 5]

## 리스트의 원소 세기

In [35]:
# 전체 원소의 개수 조회
my_list = [ 1, 2, 3 ]
size = len(my_list)
print(size)

3

In [36]:
# 주어진 값과 일치하는 원소의 개수 세기
my_list = [ 1, 2, 3, 2 ]
c = my_list.count(2)
print(c)

2

In [37]:
# 해당 값이 가장 처음 나타나는 위치(인덱스 반환)
my_list = [ 1, 2, 3, 10, 1, 2, 3, 10 ]
x = my_list.index(10)
print(x)

3

## 리스트의 원소 추가

In [38]:
# 맨 뒤에 내용 추가
my_list = [ 1, 2, 3 ]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [39]:
# 리스트를 append 할 경우 2차 리스트로 삽입.
my_list = [ 1, 2, 3 ]
my_list.append([5,6])
print(my_list)

[1, 2, 3, [5, 6]]

In [40]:
# 중간삽입
# -> 1번째 위치에 10을 삽입. 기존의 항목들은 뒤로 밀려난다.
my_list = [ 1, 2, 3 ]
my_list.insert(1, 10)
print(my_list)

[1, 10, 2, 3]

## 리스트의 확장

`extend()` 함수를 호출한 원본에 파라미터로 전달된 리스트를 덧붙인다.

In [41]:
my_list = [ 1, 2, 3 ]
addon = [ 10, 9, 8, 7 ]
my_list.extend( addon )
print(my_list)

[1, 2, 3, 10, 9, 8, 7]

## 리스트의 원소 삭제

In [42]:
# 맨 마지막 요소를 꺼내고 삭제
# -> 마지막 요소를 리턴한다.
my_list = [ 1, 2, 3 ]
k = my_list.pop()
print(k)
print(my_list)

3
[1, 2]

In [43]:
print(my_list.pop())
print(my_list)

2
[1]

In [44]:
# 주어진 값과 일치하는 첫 번째 원소를 삭제
my_list = [ 1, 2, 3, 10, 1, 2, 3, 10 ]
my_list.remove(10)
print(my_list)

[1, 2, 3, 1, 2, 3, 10]

## 리스트 정렬하기

In [45]:
# 순서 뒤집기
my_list = [ 1, 7, 5, 3, 9 ]
my_list.reverse()
print(my_list)

[9, 3, 5, 7, 1]

In [46]:
# 순차정렬
my_list = [ 2, 5, 1, 4, 3 ]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5]

In [47]:
# 역순정렬
my_list = [ 2, 5, 1, 4, 3 ]
my_list.sort(reverse=True)
print(my_list)

[5, 4, 3, 2, 1]

## 문자열을 잘라서 리스트로 변환하는 함수

In [48]:
# 문자열을 주어진 글자를 기준으로 잘라서 리스트로 변환
# -> 문자열 객체에 포함된 함수 사용
text = "Hello,Python,World,Good"
mylist = text.split(",")
print(mylist)

['Hello', 'Python', 'World', 'Good']

## 튜플

기본적으로 리스트와 동일한 특성을 갖는다.

리스트는 한번 생성한 후 원소의 값을 변경할 수 있지만, 튜플은 한번 생성하고 나면 원소의 값을 수정할 수 없다.

내장되어 있는 함수들도 모두 동일하다. (단 값의 변경이 발생하는 함수는 제외)

In [49]:
# 5명의 학생에 대한 성적 나열.
grade = ( 98, 82, 73, 64, 100 )
print( grade )

(98, 82, 73, 64, 100)

In [50]:
# 각 학생의 이름에 대한 나열
names = ( "철수", "영희", "나영", "민식", "호영" )
print( names )

('철수', '영희', '나영', '민식', '호영')

In [51]:
# 자료형에 대한 혼합 사용도 가능함
stud1 = ( "철수", 98 )
print(stud1)

('철수', 98)

In [52]:
# 값 읽기
print(stud1[0])
print(stud1[1])

철수
98

## 튜플의 원소 변경하기

In [53]:
# 값의 변경 --> 튜플은 값의 변경이 불가능하므로 에러
stud1[0] = "철호"

TypeError: 'tuple' object does not support item assignment