### 리스트
### 변수를 그룹으로 묶은 형태
### 리스트이름 = [값1, 값2, ...]
### 각 칸은 0부터 일련번호(인덱스)가 붙음

In [12]:
dooly = [75, 82, 91]
#75 = 인덱스 0번쨰
print(dooly[0])  #앞은 0,1,2,...
print(dooly[-1]) #뒤부터 -1,-2,...
sum = dooly[0] + dooly[1] + dooly[2]
print(sum)

75
91
248

### 리스트 슬라이싱 ' : '

In [15]:
mylist = [1,2,3,4,5]
print(mylist[1:3]) # 중요!! 1번쨰부터 3번쨰 '전' 까지

[2, 3]

In [17]:
print(mylist[:3]) #처음부터 3번쨰 '전' 까지

[1, 2, 3]

In [19]:
print(mylist[3:]) #0번쨰부터 시작

[4, 5]

In [22]:
print(mylist[:]) #모든 원소, 안에 콜론 꼭 필요

[1, 2, 3, 4, 5]

In [23]:
print(mylist[1:-2]) #-2 = 4 마이너스는 '다음까지' 즉 3까지

[2, 3]

### 리스트 연산

In [28]:
List1 = [1,2,3]
List2 = [4,5,6]
#리스트간 덧셈과 리스트*정수 곱셈 지원
List3 = List1+List2
print(List3)
List4 = 3 * List1 #곱셈은 동일내용 반복
print(List4)
#리스트+정수 or문자열, 리스트*리스트 = 에러

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
List1[1] = 1 #값 수정
print(List1)

[1, 1, 3]

In [30]:
List2[1:3] = [3,2] #1번쨰 ~ 3번쨰 '전'=2번쨰=6 > [5,6]
print(List2)

[4, 3, 2]

In [31]:
List2[1:3] = [3] #2칸을 1칸으로 대체 -> 잘린다
print(List2)

[4, 3]

In [33]:
List2[1:3] = [1,2,3] #2 -> 3칸 확장
print(List2)

[4, 1, 2, 3]

#### ※인덱싱과 슬라이싱의 비교

In [34]:
mylist = [1,2,3,4,5]
mylist[1] = [100,200]
print(mylist)
#인덱싱은 1번째 원소에 그냥 리스트 '삽입'

[1, [100, 200], 3, 4, 5]

In [35]:
mylist2 = [1,2,3,4,5]
mylist2[1:2] = [100,200]
print(mylist2)
#슬라이싱은 범위 자체가 확장됨

[1, 100, 200, 3, 4, 5]

In [37]:
print(mylist[4])
print(mylist2[4])
#[100, 200] 자체가 하나의 원소이므로 4번째 원소는 5
#슬라이싱은 리스트 자체가 늘어났으니 4번쨰 원소가 4

5
4

### 리스트 원소 삭제

In [39]:
mylist = [1,2,3,4,5]
del(mylist[2:-2]) #del(), 2번쨰(3)부터 -2번쨰(4) '다음' = 3
                  # 3~3까지니까 3 하나
print(mylist)

[1, 2, 4, 5]

In [42]:
# 다른 방법
mylist = [1,2,3,4,5]
mylist[2:-2] = [] #del 안쓰고 가능
print(mylist)

mylist2 = [1,2,3,4,5]
mylist2[1:-3] = []
print(mylist2)

[1, 2, 4, 5]
[1, 3, 4, 5]

In [87]:
mylist6 = [1,2,3]
mylist6.pop(2) #2번쨰 원소 삭제
print(mylist6)
print(mylist6[1])
print(mylist6.pop()) #pop은 맨 마지막 요소 출력

[1, 2]
2
2

In [89]:
mylist6 = [1,2,3]
print(mylist6.pop(2)) #잘라낸 3을 리턴
print(mylist6)

3
[1, 2]

In [79]:
mylist = [1,2,3,1,1,2,3,10]
mylist.remove(3) #처음으로 나온 일치한 원소를 삭제
print(mylist)

[1, 2, 1, 1, 2, 3, 10]

### ※리스트 원소 갯수 세기

In [45]:
mylist3 = [1,2,3]
print(len(mylist3)) #len() 자주 씀
#리스트내 원소 갯수

3

In [47]:
mylist4 = [1,2,3,2]
print(mylist4.count(2)) #len,del과 달리 점으로
#리스트내 2의 갯수

2

In [50]:
mylist5 = [1,2,3,10,1,2,3,10]
print(mylist5.index(3)) #3 = 실제 원소, 위치가 아님
#리스트내 3의 위치

2

### 리스트 원소 추가

In [65]:
mylist = [1,2,3]
mylist.append(4)
print(mylist)

[1, 2, 3, 4]

In [67]:
mylist = [1,2,3]
mylist.append([4])
print(mylist) #슬라이싱이 아니라서 리스트 쨰로 들어감

[1, 2, 3, [4]]

In [69]:
mylista = [1,2,3]
mylista.insert(1,10) #insert(a,b)
#a번쨰 위치에 b를 삽입, 기존 항목은 밀려남
print(mylista)

[1, 10, 2, 3]

In [70]:
my_list = [1,2,3]
addon = [10,9,8,7]
my_list.extend(addon)
print(my_list)

[1, 2, 3, 10, 9, 8, 7]

### 리스트 정렬

In [83]:
mylist = [1,7,5,3,9]
mylist.reverse() #뒤집기
print(mylist)

[9, 3, 5, 7, 1]

In [90]:
mylist = [1,7,5,3,9]
mylist.sort() #정렬
print(mylist)

[1, 3, 5, 7, 9]

In [92]:
mylist = [2,5,1,4,3]
mylist.sort(reverse = True) #역정렬
print(mylist)

[5, 4, 3, 2, 1]

#### 문자열을 잘라 리스트로 변환해주는 함수

In [94]:
text = "Hello,Python,World,good"
mylist = text.split(",") #쉼표로 자르기
print(mylist)

['Hello', 'Python', 'World', 'good']

In [3]:
names = ["철수", "영희", "나영"]
print(names) #문자열도 가능

['철수', '영희', '나영']

In [9]:
stu1 = ["철수", 98] #다른 자료형 믹스가능
stu2 = ["영희", 80]
print(stu1[0])
print(stu2[1])

철수
80

In [11]:
#값의 변경
stu1[0] = "찰스"
print(stu1)

['찰스', 98]

In [14]:
#리스트 원소 직접 출력 활용 예시
msg = "{0}의 점수는 {1}점 입니다."
print(msg.format(stu1[0], stu1[1]))

찰스의 점수는 98점 입니다.

### 2차원 리스트

In [20]:
a = [1,2,3]
b = [10,20,30]
c = [100,200,300]
my_list = [a,b,c]
print(my_list)
#개별적인 리스트가 새로운 리스트의 원소가 됨

[[1, 2, 3], [10, 20, 30], [100, 200, 300]]

In [21]:
#0번째 행 1  2  3
#1번째 행 10 20 30
#2번째 행 100 200 300
print(my_list[1])
#1개면 행을 출력

[10, 20, 30]

In [24]:
#          0열 1열 2열
#0번째 행   1   2   3
#1번째 행  10  20  30
#2번째 행 100 200 300
print(my_list[1][1])
#2개면 행,열 을 출력

20

In [1]:
stu1 = ["철수", 98]
stu2 = ["영희", 82]
stu3 = ["나영", 73]

stu = [stu1, stu2, stu3]
print(stu)
#stu 리스트의 각 원소가 또한 리스트인 형태

[['철수', 98], ['영희', 82], ['나영', 73]]

In [10]:
stuc = [
            ["철수", 98], #0번쨰 행, 0열=철수 1열=98
            ["영희", 82]  #1번째 행, 0열=영희 1열=82
        ]
print(stuc)
print(stuc[0][0])

[['철수', 98], ['영희', 82]]
철수

## 튜플 = 콤마(,) 로 분리된 값을 의미하며 순서있는 임의의 객체의 모음

### 리스트와 동일한 특성

In [100]:
grade = (98,82,73,64,100) #리스트는 [], 튜플은 ()
print(grade)
type(grade)

(98, 82, 73, 64, 100)

tuple

In [96]:
name = ("철수","영희","나영","민식","호영")
print(name)

('철수', '영희', '나영', '민식', '호영')

In [97]:
stud1 = ("철수", 98)
print(stud1)

('철수', 98)

### 튜플의 원소변경

In [99]:
stud1[0] = "철호"
print(stud1) #에러에 튜플은 수정안됨

TypeError: 'tuple' object does not support item assignment

### 딕셔너리 형식

In [1]:
dic = {"name":"철수", "phone":"010-1234-5678","birth":"0115"}
print(dic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}

In [2]:
print(dic["name"])

철수

In [3]:
phone = dic["phone"]
print(phone)

010-1234-5678

In [4]:
dic["phone"] = "010-1234-5656"
print(dic[phone])

KeyError: '010-1234-5678'

In [5]:
print(dic["phone"])

010-1234-5656

In [6]:
del(dic["birth
        "])
print(dic)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_15444/3130873903.py, line 1)

In [7]:
del(dic["birth"])
print(dic) #키삭제시 value도 같이 삭제

{'name': '철수', 'phone': '010-1234-5656'}

In [8]:
dic["height"] = 175
print(dic) #새로운 값 할당시 확장됨

{'name': '철수', 'phone': '010-1234-5656', 'height': 175}

In [9]:
data = {"msg":"hello", "msg":"python"}

In [10]:
print(data) #중복되면 하나만 표시됨(일반적으로 가장 나중거)

{'msg': 'python'}

In [11]:
### 딕셔너리는 리스트나 다른 딕셔너리를 포함할 수 있다
### >> 정보를 계층화해서 표현 가능하다
addr = ["서울", "서초구", "강남대로"]
grade = {"korean":98, "math":77, "english":82}
member = {"userid":"python", "age":20,
         "addr":addr, "grade":grade}
print(member)

{'userid': 'python', 'age': 20, 'addr': ['서울', '서초구', '강남대로'], 'grade': {'korean': 98, 'math': 77, 'english': 82}}

In [12]:
print(member["userid"])

python

In [13]:
print(member["addr"][1])
print(member["grade"]["korean"])

서초구
98

In [15]:
grade = [
    {"name": "철수", "kor": 95, "eng": 88},
    {"name": "영희", "kor": 92, "eng": 90},
    {"name": "철민", "kor": 88, "eng": 76}
]

tpl = "{0}의 국어점수는 {1}점, 영어점수는 {2}점입니다"
print(tpl.format(grade[0]["name"],grade[0]["kor"],grade[0]["eng"]))

철수의 국어점수는 95점, 영어점수는 88점입니다

In [16]:
dic = {"name":"철수", "phone":"010-1234-5678","birth":"0115"}
print(dic["name"])
print(dic.get("name")) #get() 함수 위와 결과는 같다

철수
철수

In [18]:
#차이점
#print(dic["gender"]) #없으면 에러가 난다.
print(dic.get("gender")) # None을 출력한다

None

In [19]:
print(dic.get("gender", "남자")) #키가 없을때 반환값 설정가능

남자

In [23]:
#key만 모으기
keys = dic.keys()
print(keys)

dict_keys(['name', 'phone', 'birth'])

In [24]:
#list로 변환
key_list = list(keys)
print(key_list)

['name', 'phone', 'birth']

In [25]:
#value만 모으기
values = dic.values()
print(values)

dict_values(['철수', '010-1234-5678', '0115'])

In [26]:
#list로 변환
values_list = list(values)
print(values_list)

['철수', '010-1234-5678', '0115']

In [27]:
#key-value 로 묶은 튜플의 모임으로 분리
items = dic.items()
print(items)

dict_items([('name', '철수'), ('phone', '010-1234-5678'), ('birth', '0115')])

In [29]:
lists = list(items)
print(lists)

[('name', '철수'), ('phone', '010-1234-5678'), ('birth', '0115')]