## while문

In [1]:
x = 1
while x<=10:
    x += 1 #1부터 더하고
    print("x=%d" % x) #프린트하므로 2부터 출력

x=2
x=3
x=4
x=5
x=6
x=7
x=8
x=9
x=10
x=11

In [6]:
y = 1
while y < 10:
    print("7 X %d = %d" % (y, 7*y))
    y += 1

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

In [2]:
#1~10까지 총합
x = 1
sum = 0 #합을 저장할 변수
while x < 11:
    sum += x
    print(sum)
    x += 1

1
3
6
10
15
21
28
36
45
55

In [5]:
#0부터 99까지 증가
a = 0
while a < 100:
    print("a = %d" % a)
    a += 20

a = 0
a = 20
a = 40
a = 60
a = 80

In [2]:
#10부터 0까지 2씩 감소
b = 10
while b > -1:
    print("b = %d" % b)
    b -= 2

b = 10
b = 8
b = 6
b = 4
b = 2
b = 0

In [3]:
mylist = [10, 20, 30, 40, 50]
size = len(mylist)
i = 0

while i < size:
    mylist[i] *= 10
    i +=1
print(mylist)

[100, 200, 300, 400, 500]

## For 문

In [7]:
for x in range(1, 11):
    print("x = %d" % x) #while과 결과 동일

x = 1
x = 2
x = 3
x = 4
x = 5
x = 6
x = 7
x = 8
x = 9
x = 10

In [10]:
for y in range(1, 10): #1에서 10'전'까지 1씩 증가
    z = 7*y
    print("7 X %d = %d" % (y, z))

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

In [11]:
sum = 0
for x in range(1,11):
    sum += x
    print("x = %d, sum = %d" % (x, sum))

x = 1, sum = 1
x = 2, sum = 3
x = 3, sum = 6
x = 4, sum = 10
x = 5, sum = 15
x = 6, sum = 21
x = 7, sum = 28
x = 8, sum = 36
x = 9, sum = 45
x = 10, sum = 55

In [13]:
#0부터 100 전까지 10씩 증가
for i in range(0,100,10):
    print("i = %d" % i)

i = 0
i = 10
i = 20
i = 30
i = 40
i = 50
i = 60
i = 70
i = 80
i = 90

In [14]:
#10부터 0까지 2씩 감소
for i in range(10,-1,-2):
    print("i = %d" % i)

i = 10
i = 8
i = 6
i = 4
i = 2
i = 0

## 인덱스 번호를 기반으로 for를 이용해 원소들에 접근

In [ ]:
#for i in range(0, len(리스트)): 인덱스가 0부터 길이-1 임을 이용
    #print(리스트[i])
#for i in 리스트:
    #print(i)

In [16]:
test_str = 'Python'
for i in range(0, len(test_str)):
    print(test_str[i])

P
y
t
h
o
n

In [17]:
test_str = 'Python'
for i in test_str:
    print(i) #위와 결과 같음

P
y
t
h
o
n

In [19]:
test_list = ['python', 'is', 'good']
for i in test_list:
    print(i)

python
is
good

In [21]:
test_list = ['python', 'is', 'good']
count = 0
for i in test_list:
    print("%d번째 원소 = %s" % (count, i))
    count += 1

0번째 원소 = python
1번째 원소 = is
2번째 원소 = good

In [22]:
size = len(test_list)
print(size)

3

In [26]:
test_list = ['python', 'is', 'good']
size = len(test_list)
for i in range(0, size):
    print("%d번째 원소 = %s" % (i, test_list[i]))

0번째 원소 = python
1번째 원소 = is
2번째 원소 = good

In [2]:
test_list = ['python', 'is', 'good']
for i, value in enumerate(test_list): #enumerate 함수는 리스트가 있는 경우 순서와 리스트의 값을 전달하는 기능을 가집니다.
                                      #enumerate는 “열거하다”라는 뜻입니다.
                                      #이 함수는 순서가 있는 자료형(list, set, tuple, dictionary, string)을 
                                      #입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴합니다.
                                      #보통 enumerate 함수는 for문과 함께 자주 사용됩니다
    print("%d번째 값 >> %s" % (i, value)) #순서 0,1,2 와 리스트값을 리턴

0번째 값 >> python
1번째 값 >> is
2번째 값 >> good

In [29]:
#총점과 평균 구하기
point_list = [100,82,98,76,51]
total = 0
for point in point_list:
    total += point
avg = total // len(point_list)
tpl = "총점 {0}, 평균 {1}"
print(tpl.format(total, avg))

총점 407, 평균 81

In [5]:
point_list = [100,82,98,76,51] #총점과 평균
total = 0
for i in point_list:
    total += i
print(total)
avg_p = total // len(point_list)
tpl = "총점은 {0}점, 평균은 {1}점입니다."
print(tpl.format(total,avg_p))

407
총점은 407점, 평균은 81점입니다.