In [7]:
print(6/3)
print(6//3) #몫
print(5//3)

2.0
2
1

In [6]:
print(5%3) #나머지

2

In [8]:
print(2!=3) #같지 않다

True

In [12]:
num = 5
num += 2
print(num) #7
num *= 3
print(num) #21
num -= 1
print(num) #20
num //= 4
print(num)

7
21
20
5

In [15]:
print(abs(-5)) #절대값
print(pow(2,4)) #거듭제곱
print(max(3,5))
print(min(9,4))
print(round(3.14)) #반올림
print(round(4.78))

5
16
5
4
3
5

In [2]:
jmin = "860206-1234557"
print("앞"+jmin[1:7]) #슬라이싱

앞60206-

In [1]:
python = "Python is amazing"
print(python.lower())
print(python.upper())
print(python.replace("is","are"))
print(python.count("n"))

python is amazing
PYTHON IS AMAZING
Python are amazing
2

### 문자열 포매팅
#### %d 10진 정수
#### %f 10진 실수
#### %s 문자열
#### %c character(문자 1개)
#### %o 8진 정수
#### %x 16진 정수
#### %% % 자체

### 정수의 자릿수 지정 및 정렬
#### %5d 숫자를 5자리로 맞춰 오른쪽 정렬, 부족하면 공백
#### %-5d 숫자  5자리         왼쪽  정렬
#### %05d 5자리 오른쪽 정렬, 부족하면 0으로 채움(왼쪽 지원 안함, 0말곤 사용 불가)

In [29]:
print("판매 금액은 %7d 입니다" % 3500)
print("판매 금액은 %-7d 입니다" % 3500)
print("판매 금액은 %07d 입니다" % 3500)

판매 금액은    3500 입니다
판매 금액은 3500    입니다
판매 금액은 0003500 입니다

In [34]:
print("Hello python %5s" % "입니다" )
print("Hello python %-5s" % "입니다" ) #%05s 0은 지원 안함

Hello python   입니다
Hello python 입니다

### 실수의 자릿수 지정 및 정렬
#### 출력값이 지정된 소수점 자릿수를 초과하면 반올림 처리된다.
##### %0.3f 제한없이 셋째 자리까지 출력
##### %10.3f 전체 10자리 출력하고 그중 소수점 이하는 셋째 자리까지 설정, 오른쪽 정렬, 나머지 공백
##### %-10.3f 전체 10자리 출력         소수점 이하     세자리          ,   왼쪽 정렬, 나머지 공백
##### %010.3f 10자리 출력, 소수점 셋째 자리까지, 공백->0으로

In [35]:
print("%0.3f" % 123.4567) #반올림

123.457

In [36]:
print("%10.3f" % 123.4567) #왼 공백

   123.457

In [37]:
print("%-10.3f" % 123.4567) #오른 공백

123.457

In [38]:
print("%010.3f" % 123.4567) 0으로 공백 채움

000123.457

### format 함수를 사용한 포매팅

In [45]:
str = "이 연필은 {0}{1} 입니다."
print(str.format(1200, "원"))

이 연필은 1200원 입니다.

In [46]:
str = "이 연필은 {price}{unit}입니다"
print(str.format(unit="원", price="1200"))

이 연필은 1200원입니다

In [50]:
str = "이 {0}은 {1} {name}입니다."
print(str.format("책", "좋은", name = "교과서")) #숫자형식 치환자가 먼저 와야한다

이 책은 좋은 교과서입니다.

In [55]:
str = "이 {0:>10}은 {1:>10}원 입니다." #10자리, 인덱스번호:>자릿수 오른쪽 정렬
print(str.format("피망", 1000))
str = "이 {0:*>10}은 {1:@>10}원 입니다." # :다음 문자로 채워준다
print(str.format("피망", 1000))

이         피망은       1000원 입니다.
이 ********피망은 @@@@@@1000원 입니다.

In [56]:
str = "이 {0:<10}은 {1:<10}원 입니다." #10자리, 왼쪽 정렬
print(str.format("피망", 1000))
str = "이 {0:*<10}은 {1:@<10}원 입니다." # :다음 문자로 채워준다
print(str.format("피망", 1000))

이 피망        은 1000      원 입니다.
이 피망********은 1000@@@@@@원 입니다.

In [58]:
str = "이 {0:^10}은 {1:^10}원 입니다." #가운데 정렬
print(str.format("피망", 1000))
str = "이 {0:*^10}은 {1:@^10}원 입니다."
print(str.format("피망", 1000))

이     피망    은    1000   원 입니다.
이 ****피망****은 @@@1000@@@원 입니다.

In [60]:
str =  "{0:0.4f}+{1:0.3f}" #소수점 4자리, 3자리까지 표현하고 반올림
print(str.format(123.456789, 12.3456789))

123.4568+12.346

In [70]:
str = "{0:10.4f}+{1:-10.3f}" #전체 10글자, 소수점4, 3자리 오른,왼 정렬
print(str.format(123.456789, 12.3456789))

  123.4568+    12.346

In [73]:
str = "{0:010.4f}+{1:<-010.3f}" #위와 동일, 0으로 채움, < 왼쪽 정렬
# > 오른쪽정렬은 사용하지 않는 경우와 결과가 동일
print(str.format(123.456789, 12.3456789))
str = "{0:>010.4f}+{1:^-010.3f}"
print(str.format(123.456789, 12.3456789)) #> 동일, 가운데 정렬

00123.4568+12.3460000
00123.4568+0012.34600

In [80]:
str = "{0}은 {1}다."
print(str.format("python", "어렵"))
str = "{{python}}은 {0}다." #{}사용하려면 2개겹
print(str.format("어렵"))

python은 어렵다.
{python}은 어렵다.

In [17]:
#포매팅
print("나는 %d살입니다" % 20)
print("나는 %s가 좋다" % "파이썬")
print("Apple은 %c로 시작" % "A")

print("나는 {}살 입니다".format(20))
print("나는 {}살이고 쟤는 {}살 입니다".format(20,21))
tpl = "{0}살은 아직 젊고 {1}살 정도는 되야.."
tpl2 = "{1}살은 아직 젊고 {0}살 정도는 되야.."
print(tpl.format(20,21))
print(tpl2.format(25,20))

tpl3 = "{age}살이 되면 {very} 피곤해진다"
print(tpl3.format(age = 20, very = '존나'))
print(tpl3.format(very = '존나', age = 20))

나는 20살입니다
나는 파이썬가 좋다
Apple은 A로 시작
나는 20살 입니다
나는 20살이고 쟤는 21살 입니다
20살은 아직 젊고 21살 정도는 되야..
20살은 아직 젊고 25살 정도는 되야..
20살이 되면 존나 피곤해진다
20살이 되면 존나 피곤해진다

### 함수

In [1]:
#실습용 문자열
str = "Life is too short, You Need Python"
print(str)

Life is too short, You Need Python

In [5]:
a = len(str) #문자열의 글자수 함수 len()
print(a)
print(len(str)) #직접 출력도 가능

34
34

In [8]:
print(str.count("i")) #특정 문자열 갯수 count
print(str.count("Y")) #대소문자 구별함
print(str.count("Life"))

2
1
1

In [9]:
print(str.find("t")) #처음 등장하는 위치 조회 find()
print(str.find("z")) #없으면 -1 출력함
print(str.find("short")) #첫글자 위치 출력

8
-1
12

In [12]:
print(str.rfind("t")) #마지막 등장하는 위치 조회 rfind()
print(str.rfind("short"))
print(str.rfind("z")) #없으면 -1

30
12
-1

In [15]:
print(str.startswith("L")) #특정 단어나 글자로 시작하는지 여부 -> True, False
print(str.startswith("l"))
print(str.startswith("Life"))

True
False
True

In [18]:
print(str.endswith("n")) #특정 단어,글자로 끝나는지 True, False
print(str.endswith("Python"))
print(str.endswith("python")) #대소문자 구별

True
True
False

In [20]:
upchar = str.upper()
print(upchar)
print(str.upper()) #모든 글자를 대문자로

LIFE IS TOO SHORT, YOU NEED PYTHON
LIFE IS TOO SHORT, YOU NEED PYTHON

In [21]:
lowchar = str.lower()
print(lowchar)
print(str.lower()) #모든 글자를 소문자로

life is too short, you need python
life is too short, you need python

In [22]:
print(str.swapcase()) #대,소문자 스왑

lIFE IS TOO SHORT, yOU nEED pYTHON

In [23]:
print(str.capitalize()) #문장 첫 글자를 대문자로 변환 나머지 대문자는 소문자로

Life is too short, you need python

In [24]:
print(str.title()) #각 단어 첫 글자를 대문자로 변환

Life Is Too Short, You Need Python

In [29]:
print(str.replace("Life", "life")) # replace(A, B) A를 B로 변경

life is too short, You Need Python

In [30]:
#실습용 문자열
k = "    python    " #4칸씩 공백
print(k.lstrip()) #왼쪽 공백 삭제
print(k.rstrip()) #오른쪽 공백 삭제
print(k.strip()) #좌,우 공백 삭제
#문자열 앞,뒤 공백만 제거가능하며

python
    python
python

In [31]:
print(str.replace("e i", "ei")) #문자열 중간의 공백을 삭제하려면 replace()사용

Lifeis too short, You Need Python

In [5]:
#enumerate 반복
#반복문 사용 시 몇 번째 반복문인지 확인이 필요할 수 있습니다. 이때 사용합니다.
#인덱스 번호와 컬렉션의 원소를 tuple형태로 반환합니다.
t = [1, 5, 7, 33, 39, 52]
for i in enumerate(t):
    print(i)
for i, v in enumerate(t):
    print(i,v)
for i, v in enumerate(t):
    print("index : {}, value: {}".format(i,v))

(0, 1)
(1, 5)
(2, 7)
(3, 33)
(4, 39)
(5, 52)
0 1
1 5
2 7
3 33
4 39
5 52
index : 0, value: 1
index : 1, value: 5
index : 2, value: 7
index : 3, value: 33
index : 4, value: 39
index : 5, value: 52

# 문제4
### 다음은 학생의 점수를 나타내는 리스트이다
####        students = [85, 65, 77, 83, 75, 22, 98, 88, 38, 100]
### for문을 사용하여 80점 이상의 점수들의 합을 구하시오

In [3]:
total = 0

for i in [85, 65, 77, 83, 75, 22, 98, 88, 38, 100]: #students로 먼저 지정하고 넣으면 더 깔끔
    if i >= 80:
        total += i
        
print(total)

454

In [6]:
#80점 이상은 모두 몇명?
students = [85, 65, 77, 83, 75, 22, 98, 88, 38, 100]
good = []
for i in students:
    if i>=80:
        good.append(i)
print(good)
print(len(good))

[85, 83, 98, 88, 100]
5

In [15]:
#http://daum.co.kr
#위치찾기 index
site = input("어디?")
keys = site[site.index("//")+2:site.index(".")]
password = keys[0:3]+str(len(keys))+str(keys.count("e"))+"!"
print("{0} 의 비밀번호는 \"{1}\"로 사용하세요".format(site, password))
#print(str(keys[0,2]))
#key = site[:site.index(".")]

어디? https://daum.co.kr

https://daum.co.kr 의 비밀번호는 "dau40!"로 사용하세요

In [2]:
#숫자 x를 입력받은 후 x에 대한 팩토리얼을 for문을 활용해 구하시오
pr = input("팩토리얼 계산기")
pri = int(pr)
result = 1
for i in range(1,pri+1):
    result *= i

print("결과는 %s입니다" % result)

팩토리얼 계산기 4

결과는 24입니다

In [3]:
#0부터 100사이에 있는 짝수의 합을 while 문으로 구현하시오
#단 if문을 사용해서는 안된다

res = 0
i = 0
while i < 101:
    res += i
    i += 2
print(res)

2550

In [2]:
#다음은 학생의 점수를 나타내는 리스트이다
#students = [85, 65, 77, 83, 75, 22, 98, 88, 38, 100]
#for문을 사용하여 80점 이상의 점수들의 합을 구하시오

students = [85, 65, 77, 83, 75, 22, 98, 88, 38, 100]
res = 0
for i in students:
    if i >= 80:
        res += i
print(res)

454

In [3]:
students = [85, 65, 77, 83, 75, 22, 98, 88, 38, 100]
total = 0
i = 0
while i < len(students):
    x = students[i]    
    if x >=80:
        total += x
    i += 1
print(total)

454

In [11]:
#정수를 한개 입력받아 1부터 입력받은 수까지 각각에 대해 제곱을 구해 프린트하는 프로그램을 작성해 보세요
#단, while 문을 사용하세요
inum = int(input("숫자입력"))

i = 1
while i <= inum:
    print("%d" % i,i**2)
    i += 1

숫자입력 3

1 1
2 4
3 9

In [14]:
#[9, 8, 6, 1, 4, 5] 에서 가장 큰 값을 for 문을 사용하여 구하시오

list1 = [9, 8, 6, 1, 4, 5, 13]
res = list1[0]
for i in list1:
    if i > res:
        res = i
print(res)

13

In [15]:
#[9, 8, 6, 1, 4, 5] 에서 가장 작은 값을 for 문을 사용하여 구하시오
list2 = [9, 8, 6, 1, 4, 5, 13]
min_v = list2[0]
for i in list2:
    if i < min_v:
        min_v = i
print(min_v)

1

In [20]:
#2~10 사이의 숫자 x, y를 입력받은 후 1부터 100까지의 자연수 중에서 x와 y의 공배수를 모두 출력하고 총 합이 얼마인지 출력하시오.
numx = int(input("2~10사이 아무거나 입력하세요"))
numy = int(input("2~10사이 아무거나 입력하세요"))

total = 0
result = []
for i in range(1, 101):
    if i % numx == 0 and i % numy == 0:
        result.append(i)
        total += i
print(result)
print(total)

2~10사이 아무거나 입력하세요 3
2~10사이 아무거나 입력하세요 7

[21, 42, 63, 84]
210

In [31]:
#하나의 정수 x를 입력받아 x개의 행을 출력하는 별찍기 프로그램을 작성하시오.

#첫 번째 행은 1개의 별을 출력하고,
#두 번재 행은 2개의 별을 출력하고,
#x 번째 행은 x개의 별을 출력합니다.

top = int(input("몇 줄?"))

for i in range(1, top+1):
    print(i*"*")

몇 줄? 7

*
**
***
****
*****
******
*******

In [8]:
top = int(input("몇 줄?"))

for i in range(1, top+1):
    star = (top-i+1)*"*" 
    print(star)

몇 줄? 3

***
**
*

In [52]:
#n개의 과목에 대한 점수를 입력하는 프로그램을 만들고자 한다.

#숫자 n을 입력 받아 n번 반복을 수행하면서 숫자를 입력받는다.

#반복문 안에서 입력받은 숫자는 data라는 리스트의 원소로 추가된다.

#이 리스트의 모든 원소에 대한 총합과 평균을 구하시오.

#(평균은 소수점 둘째 자리까지만 표시한다.)

number = int(input("과목 수는?"))
data = []
for i in range(1, number+1):
    data.append(int(input("%d번째 점수" % i)))
print(data)
print("총합은",str(sum(data))+"점", "평균은", str("%0.2f" % (sum(data) / len(data)))+"점입니다")

과목 수는? 3
1번째 점수 7
2번째 점수 4
3번째 점수 2

[7, 4, 2]
총합은 13점 평균은 4.33점입니다

In [73]:
#n개의 숫자를 입력받아서 리스트에 원소로 추가한 후 그 숫자들 중에서 가장 큰 값을 구하는 프로그램을 작성하시오.

#단, 최대값은 max()함수를 사용하지 않고 반복문을 통해 직접 구해야 합니다.

cho = int(input("몇개?"))
data = []
for i in range(1, cho+1):
    data.append(int(input("%d번째 숫자: " % i)))
print(data)

k = data[0]
for j in data:    
    if j > k:
        k = j
print(k)

몇개? 5
1번째 숫자:  60
2번째 숫자:  70
3번째 숫자:  65
4번째 숫자:  80
5번째 숫자:  66

[60, 70, 65, 80, 66]
80

In [78]:
#n개의 숫자를 입력받아서 리스트에 원소로 추가한 후 그 숫자를 오름차순으로 정렬한 결과를 출력하는 프로그램을 작성하시오.

#단, 정렬은 sort()함수를 사용하지 않고 반복문을 통해 직접 처리해야 합니다.

cho = int(input("몇개?"))
data = []
for i in range(1,cho+1):
    data.append(int(input("%d번째 숫자" % i)))
print(data)
size = len(data)
for j in range(0, size-1):
    for k in range(j+1, size):
        if data[j] > data[k]:
            data[j],data[k] = data[k],data[j]
print(data)

몇개? 3
1번째 숫자 9
2번째 숫자 2
3번째 숫자 7

[9, 2, 7]
[2, 7, 9]

---

## 문제5

`n`개의 숫자를 입력받아서 리스트에 원소로 추가한 후 그 숫자를 오름차순으로 정렬한 결과를 출력하는 프로그램을 작성하시오.

단, 정렬은 `sort()`함수를 사용하지 않고 반복문을 통해 직접 처리해야 합니다.

In [4]:
count = int(input("숫자를 입력하세요"))

numbers = []

for i in range(0, count):
    number = int(input(f"{i+1}번째 숫자를 입력하세요: "))
    numbers.append(number)
    
for j in range(len(numbers)):
    k = len(numbers) - j
    for i in range(1, k):
        if numbers[i-1] >= numbers[i]:
            temp = numbers[i-1]
            numbers[i-1] = numbers[i]
            numbers[i] = temp
print(numbers)

숫자를 입력하세요 5
1번째 숫자를 입력하세요:  3
2번째 숫자를 입력하세요:  9
3번째 숫자를 입력하세요:  5
4번째 숫자를 입력하세요:  8
5번째 숫자를 입력하세요:  6

[3, 5, 6, 8, 9]

# 자주 등장하는 반복문 예제 패턴

## 별찍기

반복의 범위를 동적으로 설정하기 위한 예제

In [2]:
for i in range(0, 5):
    star = ""

    for j in range(0, i+1):
        star += "*"

    print(star)

*
**
***
****
*****

## 리스트의 순서 뒤집기

In [3]:
# 원본 리스트
mylist = [5, 3, 7, 1, 9]
print(mylist)

# 리스트의 길이 --> 5
size = len(mylist)

# 리스트의 길이를 2로 나눈 정수 부분의 몫 --> 2
# 리스트의 길이가 홀수인 경우 가운데 원소는 위치 변경이 필요 없으므로
# 나눗셈의 나머지를 버리고 정수부분의 몫만 취한다.
half = size // 2

# 리스트의 반 만큼만 반복 수행 --> 0부터 2전까지
for i in range(0, half):
    # i번째 항목의 반대쪽에 위치한 원소의 인덱스를 구한다.
    p = size - i - 1

    # i번째 원소와 p번째 원소의 값을 맞바꾼다.
    mylist[i], mylist[p] = mylist[p], mylist[i]

# 결과출력
print(mylist)

[5, 3, 7, 1, 9]
[9, 1, 7, 3, 5]

## 리스트의 정렬

In [1]:
# 원본 리스트
mylist = [5, 3, 7, 1, 9]
print(mylist)

# 리스트의 길이
size = len(mylist)

# 처음부터 뒤에서 두 번째것 까지만 반복
for i in range(0, size-1):
    # i번째 다음부터 끝까지 반복
    for j in range(i+1, size):
        # i번째가 j번째보다 값이 크다면
        if mylist[i] > mylist[j]:
            # 두 원소를 맞바꿈
            mylist[i], mylist[j] = mylist[j], mylist[i]

# 결과 출력
print(mylist)

[5, 3, 7, 1, 9]
[1, 3, 5, 7, 9]

# 파이썬 기본 문법 응용 문제 (2)

---

# 문제(1~3)

아래의 데이터는 2021년 01월 25일부터 02월 01일까지의 Covid19 일별 확진자 수를 표현한 자료구조다.

```python
covid19 = [
    {'0125': 426}, {'0126': 343}, {'0127': 547}, {'0128': 490}, 
    {'0129': 460}, {'0130': 443}, {'0131': 338}, {'0201': 299}
]
```

위 데이터를 기반으로하여 아래의 물음에 답하시오.

## 문제1.

1월 25일부터 2월 1일까지의 누적 확진자 수와 일 평균 확진자 수를 구하시오.

In [88]:
covid19 = [
    {'0125': 426}, {'0126': 343}, {'0127': 547}, {'0128': 490}, 
    {'0129': 460}, {'0130': 443}, {'0131': 338}, {'0201': 299}
]
#딕셔너리 keys와 values
pain_sum = 0
pain_list = []
for i in covid19:
    num = list(i.values())
    pain_list.extend(num)
print(pain_list)
print("누적 확진자 = ",sum(pain_list), "평균 확진자 = ", sum(pain_list) / len(pain_list))

[426, 343, 547, 490, 460, 443, 338, 299]
누적 확진자 =  3346 평균 확진자 =  418.25

In [117]:
#확진자가 가장 많이 나타난 날짜는 언제인가?
covid19 = [
    {'0125': 426}, {'0126': 343}, {'0127': 547}, {'0128': 490}, 
    {'0129': 460}, {'0130': 443}, {'0131': 338}, {'0201': 299}
]

maxkey = 0
maxlist = 0
for im in covid19:
    p_key = list(im.keys())
    p_list = list(im.values())
    if p_list[0] > maxlist:
        maxlist = p_list[0] 
        maxkey = p_key[0] 
print(maxkey)

0127

In [6]:
#위의 데이터를 확진자 수에 대한 오름차순으로 정렬하시오.
covid19 = [
    {'0125': 426}, {'0126': 343}, {'0127': 547}, {'0128': 490}, 
    {'0129': 460}, {'0130': 443}, {'0131': 338}, {'0201': 299}
]

len(covid19)
for i in range(0, len(covid19)):
    for j in range(i+1, len(covid19)):
        x = list(covid19[i].values())
        y = list(covid19[j].values())
        if x[0] > y[0]:
            covid19[i],covid19[j] = covid19[j],covid19[i]

print(covid19)

[{'0201': 299}, {'0131': 338}, {'0126': 343}, {'0125': 426}, {'0130': 443}, {'0129': 460}, {'0128': 490}, {'0127': 547}]

In [17]:
#위의 데이터를 확진자 수에 대한 내림차순으로 정렬하시오.
covid19 = [
    {'0125': 426}, {'0126': 343}, {'0127': 547}, {'0128': 490}, 
    {'0129': 460}, {'0130': 443}, {'0131': 338}, {'0201': 299}
]

for i in range(0, len(covid19)):
    for j in range(i+1, len(covid19)):
        x = list(covid19[i].values())
        y = list(covid19[j].values())
        if x[0] < y[0]:
            covid19[i],covid19[j] = covid19[j],covid19[i]

print(covid19)

[{'0127': 547}, {'0128': 490}, {'0129': 460}, {'0130': 443}, {'0125': 426}, {'0126': 343}, {'0131': 338}, {'0201': 299}]

## 문제 4.

다음은 10명의 학생들에 대한 혈액형 데이터 이다.

```python
['A', 'A', 'A', 'O', 'B', 'B', 'O', 'AB', 'AB', 'O']
```

for문을 이용하여 각 혈액형 별 학생수를 아래의 딕셔너리 `result`에 구하시오.

```python
result = {"A" : 0, "B" : 0, "AB" : 0, "O" : 0}
```

In [18]:
bld = ['A', 'A', 'A', 'O', 'B', 'B', 'O', 'AB', 'AB', 'O']
result = {"A" : 0, "B" : 0, "AB" : 0, "O" : 0}

print(result["A"])

for i in bld:
    result[i] += 1
print(result)

0
{'A': 3, 'B': 2, 'AB': 2, 'O': 3}

## 문제 5.

for문을 중첩하여 실행하여 아래와 같은 출력 결과를 만드시오.

```python
0 1 2 3 
1 2 3 4 
2 3 4 5 
3 4 5 6 
```

In [31]:
for i in range(0,4):
    for j in range(i+1,i+2):
        for k in range(i+2,i+3):
            for l in range(i+3,i+4):
                print(i,j,k,l)

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [35]:
for i in range(0, 4):
    print(i, end = " ")
    for j in range(i+1, i+4):      
        print(j, end = " ")
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [43]:
for i in range(0, 4):
    print(i, end = " ")
    for j in range(i+1, i+4):
        print(j, end = " ")
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

----

## 문제1

다음 리스트는 어느 학급의 중간고사 성적이다

```python
exam = {
    "철수": [89,82,79,91],
    "민영": [91,95,94,89],
    "남철": [65,57,71,64],
    "혜진": [82,76,81,83],
}
```

위 데이터에서 학생별 총점과 평균을 구하시오.

In [56]:
exam = {
    "철수": [89,82,79,91],
    "민영": [91,95,94,89],
    "남철": [65,57,71,64],
    "혜진": [82,76,81,83],
}

name = list(exam.keys())
grade = list(exam.values())

for i in range(0, len(name)):
    print(name[i]+"의 총점 :",sum(grade[i]),"평균 :", sum(grade[i]) / len(grade[i]))

철수의 총점 : 341 평균 : 85.25
민영의 총점 : 369 평균 : 92.25
남철의 총점 : 257 평균 : 64.25
혜진의 총점 : 322 평균 : 80.5

----

## 문제2

위 1번 문제의 점수가 순서대로 국어, 영어, 수학, 과학일 경우 수학에 대한 모든 학생의 총점,평균을 구하시오.

In [82]:
exam = {
    "철수": [89,82,79,91],
    "민영": [91,95,94,89],
    "남철": [65,57,71,64],
    "혜진": [82,76,81,83],
}

name = list(exam.keys())
grade = list(exam.values())
sum = 0
for i in range(0, len(name)):
    sum += grade[i][2] 

print("수학 총점은", sum, "평균은", sum / len(name))
print("수학 총점은 %d, 평균은 %d점입니다." % (sum, sum / len(name)))

수학 총점은 325 평균은 81.25
수학 총점은 325, 평균은 81점입니다.

----

## 문제3

구구단 프로그램을 만들고자 한다.

전체를 출력하는 구구단이 아니라 1번을 입력하면 홀수단(3,5,7,9) 2번을 입력하면 짝수단(2,4,6,8)을 출력하는
프로그램을 완성하시오.

In [1]:
fst = int(input("1 or 2 => "))
if fst == 1:
    for i in (3,5,7,9):
        for j in range(1,10):
            print(i, "X", j, "=", i*j)
                                  
if fst == 2:
    for i in (2,4,6,8):
        for j in range(1,10):
            print(i, "X", j, "=", i*j)

1 or 2 =>  2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

----

## 문제4

아래와 같은 출력결과가 나타나도록 중첩 반복문을 for문 형식으로 구현하라.

##### 1
##### 12
##### 123
##### 1234
##### 12345
##### 123456
##### 1234567

In [25]:
fst = int(input("몇 줄 = "))
for i in range(0, fst):
    num = ""
    for j in range(0, i+1):
        num += str(j+1)
    print(num)

몇 줄 =  3

1
12
123

In [32]:
fst = int(input("몇 줄? "))
for i in range(0, fst+1):
    star = ""
    for j in range(1, i+1):
        star += "*"
    print(star)

몇 줄?  3

*
**
***

----

## 문제5

### 유효한 주민번호인지 판별하는 코드를 짜보자. 판별방법은 아래와 같다.

#### 1. 기본 주민등록코드에는 각 숫자에 대응하는 가중치가 있다. 가중치는 주민번호 순서에 따라
####    2 3 4 5 6 7 8 9 2 3 4 5 이다.
#### 2. 먼저 마지막 숫자는 제외하고, 기본코드의 각 12자리와 가중치를 모두 곱하여 합한다.
#### 3. 합한 값을 11로 나눈 나머지 값을 구한다.
#### 4. 11에서 그 나머지 값을 뺀 후, 이를 10으로 나눈 나머지를 구한다.
#### 5. 나머지의 1의 자리 값과 주민번호 마지막 자리 값이 맞아야 유효한 주민번호이다.

In [11]:
code = input()
imp = [2,3,4,5,6,7,8,9,2,3,4,5]
twosum = 0

for i in range(0,12):
    twosum += int(code[i])*imp[i]
print(twosum)
four = (11-(twosum % 11)) % 10
print(code[12])
print(four)
if four == int(code[12]):
    print("%d은(는) 유효한 주민번호입니다" % int(code))
else:
    print("%d은(는) 유효한 주민번호가 아닙니다" % int(code))

 8602061162112

130
2
2
8602061162112은(는) 유효한 주민번호입니다

In [11]:
#주민번호 생년월일,성별,나이 > 앞부분 완성,나이계산 등
#2000년 이후 >> 3,4
anum = int(input("나이"))
amon = int(input("태어난 월"))
aday = int(input("태어난 날짜"))
asex = input("성별")

#년도 = 2021-1986+1 = 36 2000년생 = 22살, 
#월 #일 $02d
#성별 남자=1,3 여자=2,4
a = 2022 - anum 
#bc = "%02d%02d" % (amon, aday)
d = 0
if asex == "남자" and anum > 22:
    d += 1
elif asex == "남자" and anum <= 22:
    d += 3
elif asex == "여자" and anum > 22:
    d += 2
else:
    d += 4

print(str(2022-anum)+"%02d%02d" % (amon,aday), "-", str(d)+"******")

나이 18
태어난 월 2
태어난 날짜 18
성별 여자

20040218 - 4******

In [13]:
grade = int(input("몇 점?"))
if grade > 90:
    print("A학점")
elif grade > 80:
    print("B학점")
else:
    print("때려처")

몇 점? 65

때려처

In [19]:
#1~100에서 3의 배수, 5의 배수, 공배수의 총합
three = 0
five = 0
common = 0
for i in range(1,101):
    if i % 3 == 0:
        three += i
    if i % 5 == 0:
        five += i
    if i % 3 == 0 and i % 5 == 0:
        common += i
print(three)
print(five)
print(common)
#최소공배수
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)
        break
#공배수들의 집합
com = []
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        com.append(i)
print(com)

1683
1050
315
15
[15, 30, 45, 60, 75, 90]

In [2]:
class unit:
    def __init__(self, name, hp, damage):
        self.name = name
        self.hp = hp
        self.damage = damage
        print("{0} 유닛이 생성되었습니다.".format(self.name))
        print("체력 {0}, 공격력 {1}".format(self.hp, self.damage))

marine1 = unit("마린", 40, 5)
marine2 = unit("마린", 40, 5)
tank = unit("탱크", 150, 30)

#__init__ 생성자
#마린이나 탱크 객체가 만들어질때 자동으로 호출
# = 유닛 클래스의 인스턴스
#self를 제외한 변수 숫자와 동일해야함

마린 유닛이 생성되었습니다.
체력 40, 공격력 5
마린 유닛이 생성되었습니다.
체력 40, 공격력 5
탱크 유닛이 생성되었습니다.
체력 150, 공격력 30